{% extends 'todo/base.html' %}

{% block content %}
    <div style="margin-top:50px;">
            <div style="margin-top:50px"><h1 style="text-align: center; color:cornflowerblue;">ระบบเช็คชื่อออนไลน์</h1></div>
    </div>
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'todo:create' %}" method="post">
        {% csrf_token %}
        <!-- Todo Name -->
        <div class="form-group">
            <label for="todo" class="col-sm-3 control-label">ชื่อ-นามสกุล/รหัสนักศึกษา</label>
            <div class="col-sm-6">
                {{ form.body }}
            </div>
        </div>

        <!-- Add Todo Button -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-plus"></i>Commit
                </button>
            </div>
        </div>

    </form>
    

   
    
    <table class="table table-striped todo-table">
        <thead>
            <th>รายชื่อนักศึกษา</th><th>&nbsp;</th>
        </thead>

        <tbody>
            {% for post in posts %}
                <tr>
                    <!-- Todo Name -->
                    <td>
                        <div>{{ post.body }}</div>
                    </td>
                    <td>
                        <form action="{% url 'todo:delete' post.id %}" method="post">
                            {% csrf_token %}
                            <button>delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}